<!-- Default form register -->
<style type="text/css" media="print">
  @media print {
    form {display: none; } 
  }
</style>
<form class="container mt-4 text-center border border-light p-5" [formGroup]="form">

    <p class="h2 text-center">Оформление заказа</p>

    <div class="form-row">
        <div class="col">
            <div class="md-form mt-0 mb-4" style="padding-bottom: 20px ">
              <label for="name">Имя</label>
                <input mdbInput mdbValidate type="text" id="name" class="form-control" formControlName="name">
            </div>
        </div>
        <div class="col">
            <div class="md-form mt-0 mb-4" style="padding-bottom: 20px ">
              <label for="surname">Фамилия</label>
                <input mdbInput mdbValidate type="text" id="surname" class="form-control" formControlName="surname">
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col">
            <div class="md-form mt-0 mb-4" style="padding-bottom: 20px ">
              <label for="email">Почта</label>
              <input mdbInput mdbValidate type="email" id="email" class="form-control" formControlName="email">
                
            </div>
        </div>
        <div class="col">
            <div class="md-form mt-0 mb-4" style="padding-bottom: 20px ">
                <label for="phoneNumber">Телефон</label>
                <input mdbInput mdbValidate type="text" id="phoneNumber" class="form-control" formControlName="phoneNumber">
                
            </div>
        </div>
    </div>
    <!-- Send button -->
    <button class="btn btn-dark" block="true" type="submit" (click)="order()">Оформить заказ</button>

</form>
<!-- Default form register -->
